# Ignore everything
**

# Allow only what is needed for the server
!Core/**
!DataBase/**
!Files/**
!Logic/**
!Protocol/**
!ByteStream/**
!Utils/**
!GameAssets/**
!Main.py
!requirements.txt
!config.json
!shop.json
!events.json
!railway.json
!Dockerfile

# Specifically ignore heavy stuff
**/*.apk
**/*.jar
**/*.idsig
**/*.png
Patcher/**
.git/**
__pycache__/**
